{% extends 'base.html' %}

{% block title %}Yourvid | Detail{% endblock %}}

{% block content %}
<video width="80%" controls>
  <source src="{{ video.video_file.url }}">
  Your browser does not support the video tag.
</video>
<h3>{{ video.title }}</h3>
<p>{{ video.description }}</p>

<form action="{% url 'yourvid:add-comment' %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <input type="hidden" name="video_id" value="{{ video.video_id }}">
  <button type="submit" class="btn btn-success">Comment</button>
</form>
{% endblock %}