{% extends 'base.html' %}

{% block title %}Yourvid | Index{% endblock %}}

{% block content %}
{% for video in videos %}
<div class="card" style="width: 18rem;">
    <a href="{% url 'yourvid:detail' video.video_id %}"><img src="{{ video.thumbnail.url }}" class="card-img-top"></a>
    <div class="card-body">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">{{ video.description | truncatewords:50 }}</p>
    </div>
</div>
{% empty %}
No Videos found.
{% endfor %}
{% endblock %}